<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-OHVhvvP6Gqi4_RmxS40A4y07zamMzy8</string>
	<key>GCM_SENDER_ID</key>
	<string>376130096126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kurukSaarthi</string>
	<key>PROJECT_ID</key>
	<string>kuruksaarthi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kuruksaarthi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376130096126:ios:90eee59463a4e132b68eaf</string>
</dict>
</plist>